* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.box {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform-style: preserve-3d;
    transform: rotateX(-5deg) rotateY(0deg);
    animation: run 10s linear infinite;
}

.box img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 5px;
}

@keyframes run {
    0% {
        transform: rotateX(-5deg) rotateY(0deg);
    }

    25% {
        transform: rotateX(-5deg) rotateY(90deg);
    }

    50% {
        transform: rotateX(-5deg) rotateY(180deg);
    }

    75% {
        transform: rotateX(-5deg) rotateY(270deg);
    }

    100% {
        transform: rotateX(-5deg) rotateY(360deg);
    }
}