.container {
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
.card {
    height: 80vh;
    border-radius: 40px;
    margin: 0 10px 0 10px;
    flex: 0.5;
    transition: all 700ms ease-in;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.active {
    flex: 3;
}
.card.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.card h3{
    opacity: 0;
}
.card>h3 {
    font-size: 24px;
    color: white;
    position: relative;
    top: 90%;
    left: 5%;
}